.schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 7rem 0;

  .schedule-tabs {
    width: 80%;

    .schedule-title {
      text-align: center;
    }
  }
}
