@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
  }

  .hero-section {
    .heading {
      font-size: 3rem !important;
    }
    .subline {
      font-size: 1.5rem !important;
      margin-top: 0.25rem !important;
    }
  }
  .hero-content {
    flex-direction: column;
    margin: auto;
    margin-top: 1px;

    .section-image {
      max-width: 100vw !important;
    }

    .section-content {
      max-width: 90vw !important;
    }
  }
}
