@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
    font-size: 12px !important;
  }

  .hero-section {
    .heading {
      font-size: 3rem !important;
    }
    .subline {
      font-size: 1.5rem !important;
      margin-top: 0.25rem !important;
    }
  }
  .hero-content {
    flex-direction: column;
    margin: auto;
    margin-top: 1px;

    .section-image {
      max-width: 100vw !important;
    }

    .section-content {
      max-width: 90vw !important;
      margin-top: 1rem;
    }
  }

  .members {
    justify-content: center;
    li {
      padding: 1rem 0 !important;
    }
  }

  .reg-table {
    // padding: 0 1rem;
    font-size: 0.6rem !important;
    max-width: 95vw !important;
  }

  .org-card {
    width: 30vw !important;
  }

  .venue .venue-map img {
    width: 90% !important;
    height: 100% !important;
    padding-top: 1rem;
  }

  .contact-us {
    max-width: 100% !important;

    .contact-table {
      margin: 1rem;
    }
  }
}
